.FilterToggle {
  display:inline-block;
  padding:5px 10px;
  margin:3px;
  border: 1px solid #666;
  border-radius:15px;
  cursor:pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.FilterToggle.selected {
  background: #666;
  color: #fff;
}
