.IndexEntry {
  cursor: pointer;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.25s;
  padding-bottom: 5px;
}

.IndexEntry:hover {
  color: #2E9769;
}

.IndexEntry.hidden {
  opacity: 0;
}
