/* https://coolors.co/306857-2e9769-d0cb3d-f19f41-f14f41 */

body {
  font-family: "adobe-garamond-pro", serif;
  line-height: 1.25;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: 300;
}

h3 {
  font-size:22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

a, a:visited {
  text-decoration: none;
  color: #2E9769;
}

a:hover {
  text-decoration: underline;
  color: #306857;
}

.App-header {
  background-color: #306857;
  padding: 20px;
  color: white;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App-header div {
  margin:10px 20px;
}

.logos a {
  padding: 5px;
}
